@import url("https://grow-n-know.netlify.app/styles/main.css");



.coverImage-mainContainer {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 color: blue;
}

.currTime-container{
position: absolute ;
   }